gradio_client
qwen-vl-utils==0.0.10
transformers-stream-generator==0.0.4
torch
torchvision
git+https://github.com/huggingface/transformers.git
accelerate
av
pandas
pathlib
scikit-learn
numpy
matplotlib
transformers
huggingface_hub
flash-attn
tqdm
trl